<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container">
        <img src="../static/parkinglot_for2.png" class="image1">
        <div id="highlight-overlay81" class = "rectangle"></div>
        <div id="highlight-overlay82" class = "rectangle"></div>
        <div id="highlight-overlay83" class = "rectangle"></div>
        <div id="highlight-overlay84" class = "rectangle"></div>
        <div id="highlight-overlay85" class = "rectangle"></div>
        <div id="highlight-overlay86" class = "rectangle"></div>
        <div id="highlight-overlay87" class = "rectangle"></div>
        <div id="highlight-overlay88" class = "rectangle"></div>
        <div id="highlight-overlay91" class = "rectangle"></div>
        <div id="highlight-overlay92" class = "rectangle"></div>
        <div id="highlight-overlay93" class = "rectangle"></div>
        <div id="highlight-overlay94" class = "rectangle"></div>
        <div id="highlight-overlay95" class = "rectangle"></div>
        <div id="highlight-overlay96" class = "rectangle"></div>
        <div id="highlight-overlay97" class = "rectangle"></div>
        <div id="highlight-overlay98" class = "rectangle"></div>
        <img src="../static/close.png" id ="cross81" height="70" class="cross" style="position: absolute; top: 560px;left: 890px;">
        <img src="../static/close.png" id ="cross82" height="70" class="cross" style="position: absolute; top: 440px;left: 890px;">
        <img src="../static/close.png" id ="cross83" height="70" class="cross" style="position: absolute; top: 560px;left: 1145px;">
        <img src="../static/close.png" id ="cross84" height="70" class="cross" style="position: absolute; top: 440px;left: 1145px;">
        <img src="../static/close.png" id ="cross85" height="70" class="cross" style="position: absolute; top: 229px;left: 890px;">
        <img src="../static/close.png" id ="cross86" height="70" class="cross" style="position: absolute; top: 110px;left: 890px;">
        <img src="../static/close.png" id ="cross87" height="70" class="cross" style="position: absolute; top: 229px;left: 1145px;">
        <img src="../static/close.png" id ="cross88" height="70" class="cross" style="position: absolute; top: 110px;left: 1145px;">
        <img src="../static/close.png" id ="cross91" height="70" class="cross" style="position: absolute; top: 110px;left: 555px;">
        <img src="../static/close.png" id ="cross92" height="70" class="cross" style="position: absolute; top: 229px;left: 555px;">
        <img src="../static/close.png" id ="cross93" height="70" class="cross" style="position: absolute; top: 110px;left: 300px;">
        <img src="../static/close.png" id ="cross94" height="70" class="cross" style="position: absolute; top: 229px;left: 300px;">
        <img src="../static/close.png" id ="cross95" height="70" class="cross" style="position: absolute; top: 440px;left: 555px;">
        <img src="../static/close.png" id ="cross96" height="70" class="cross" style="position: absolute; top: 560px;left: 555px;">
        <img src="../static/close.png" id ="cross97" height="70" class="cross" style="position: absolute; top: 440px;left: 300px;">
        <img src="../static/close.png" id ="cross98" height="70" class="cross" style="position: absolute; top: 560px;left: 300px;">
    </div>

    <div class = "button">
        <button class="button-18" id = "recommend" style="display: none;">Recommendation</button>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src = "../static/javascript.js"></script>
</html>